.ipynb_checkpoints/
data
*.pyc
*.ipynb
scripts/shapenetcore_partanno_segmentation_benchmark_v0/
shapenetcore_partanno_segmentation_benchmark_v0/
*.so
.idea*
cls/
seg/
*.egg-info/
hololens_ransac_dataset/